
.logo,
.name{
  color: white;
  font-size: 20px;
  margin: 25px;
}


em{
  font-weight: 600;
  font-style: normal;


}

.notifications{
  display: inline-block;
}

.flexContainer{
display: flex;
flex-direction: row;
align-items: center;
clear: both;


}

.flexContainer > a[class="notifications"]{

margin-left: auto;
height: 40px;
width: 40px;
display: flex;
align-items: center;
justify-content: center


}
.notifications > img{
height: 25px;
width: 25px;


}

body{
    margin: 0;

}


 img[alt^="User"]{
   border-radius: 50%;
   height: 40px;

 }
 .profilePicClass{
   border-radius: 50%;
   height: 40px;


 }

.userImagea{
  height: 40px;

}

.verticalDivider{
  border-style: solid;
  height: 40px;
  border-width: thin;
  border-color: rgb(104, 88, 193);
  margin-right: 15px;

}


/* Container*/


header{
  background-color: rgb(122, 111, 193);
  grid-area: header;
    margin: 0;
    width: 100%;
    display: inline-block;


}

/* Container 2 */
.container2{
display: grid;
  grid-area: data;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:

  "inputDash inputDash"
  "alert alert"
  "wgborder wgborder"
  "traffic traffic"
  ;

}

.form{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 80vw;

}
.inputDash{

height: 40px;
align-self: center;
  margin-right: 5vh;
 margin-left: 2vh;
  width:53vw;

}

.flexSearchTitle{

  grid-area:inputDash;
}

.dailyTrafficBox{
  border-style: solid;
border-right-style: none;
border-left-style: none;
border-width: thin;
border-color: lightgrey;
}

h2{
  margin-left:50px;

}

#generalTraffic{
  display: block;

}
.first{
  height: 40vh;
}



.dashDiv{
border-right: solid;
border-right-width: thin;
border-right-color: lightgrey;
border-bottom: solid;
border-bottom-color: white;
max-width: 130px;
margin-bottom: -2px;





}
.dashTitle{
font-size: 25px;
margin-left: 2vw;
padding-top: 13px;
margin-right: 2vw;

}

*{

  font-family: 'Oswald',serif;
  font-weight: 200;

}
.chartContainer{
  width: 92%;
min-width: 30px;
grid-area:traffic;
margin-left: 3vw ;
display: block;
}



.alert{
  grid-area:alert;
  border-top: solid;
  border-color: lightgrey;
  z-index: -2;
  border-width: thin;

}
.buttons{
  justify-content:flex-end;
  display: inline-block;
  float: right;



}
.trafficTitle{
display: flex;
grid-column-start: 1;
grid-column-end: 3;

  clear: both;
  flex-direction: column;

}
.buttonDiv{
  margin: 60px 0;
}


div[class="socialBox"] > img{
  width:100px;
  height:100px;
  margin: 15px;


}



div[class="buttons"] > button{
border-radius: 16px;
border-style: none;
padding: 8px 10px;
margin: 25px 5px;

}

div[class="socialText"] > p{
  font-size: 45px;
  margin: 0;

}
div[class="socialText"] > h2{
margin-bottom: 5px;

}




.initial{
  background-color: white;
color: grey;
font-weight: 400;
}

.highlight {
    background-color: rgb(95, 208, 144);
    color: white;

}


#mobileUsers,
#dailyTraffic,
#generalTraffic{
  margin: 30px auto;
      display: block;


}



.clearfix::after {
 content: "";
 clear: both;
 display: table;
}


.socialStats{
display: flex;


}

.socialSection{
min-width: 26%;
border-style: solid;
border-width: thin;
border-color: lightgrey;

margin: 20px 10px;
border-radius: 16px;
display: flex;
background-color: lightgrey;



}



.socialDiv{
display: flex;

border-color: lightgrey;
  grid-template-columns:repeat(auto-fill, minmax(100px, 250px));
  grid-template-rows: 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  flex-direction: column;
}

.twoDivs{
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;

}






.container{

display: block;

}


nav{
  grid-area: nav;
  height: auto;
  display: flex;
  background-color: rgb(80, 72, 115);
justify-content: space-between;

}


nav > a{
  padding: 10px 20px;
  background-color: rgb(80, 72, 115);
  display: inline-block;


}
 img[alt^="navigation"]{
  min-width: 40px;
  max-width:  120px;



}







.buttons{
  margin-left:auto;
  margin-right: auto;

}


.container{
display: block;
}

.mobileUsersBox{

border-bottom-style: solid;
border-color: lightgrey;
border-width: thin;
width: 100%;


}



.inputDash{

margin-top: 19px;
border-radius: 12px;
border-width: thin;

}

@media (min-width:400px) {
  div[class="buttons"] > button{
  padding: 8px 15px;
}

  img[alt^="navigation"]{
   min-width: 50px;}
  .logo,
  .name{
    font-size: 25px;
  }

  nav > a{
    padding: 30px 20px;}

}
@media (min-width:768px) {




      .container{

      display: grid;

      grid-template-columns:90px 1fr 2fr 1fr;
      grid-template-rows: 80px 2fr;
      grid-template-areas:

      "header header header header "
      "nav data data data ";

      }





  .container2{


    grid-template-areas:

    "inputDash inputDash"
    "alert alert"
    "wgborder wgborder"
    "traffic traffic"
    ;

  }






    nav{

      display: block;


    }



  div[class="trafficTitle"] > div:first-child{

    margin-left: 50px;



  }
.buttons{
margin-left: auto;
margin-right: 55px;
display: flex;

}
.trafficTitle{

  flex-direction: row;

}


}



@media(min-width:1024px){


.form{
  width: 40vw;
}

  .dailyTrafficBox{
    width: 100%;}

  .socialSection{
margin: 30px auto;}

.divOne{

  max-width: 85%;

}


.mobileUsersBox{
border-style: solid;
border-color: lightgrey;
border-width: thin;
border-right-style: none;
}



  .twoDivs{
    flex-direction: row;

}
.socialDiv{
  flex-direction: row;}

}


ul {
  list-style-type: none;
  padding: 0;
}

li{
  border-bottom: solid;
  border-color: lightgrey;
  border-width: thin;
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
  padding: 5px

}
li:last-child{
border: none;

}

.UserDesc{
  display: flex;
  flex-direction: column;
  margin-left: 20px ;
}

.UserDesc > h4{
padding: 0;
margin: 0;
font-weight: initial;
color: grey


}
.activityText{
  display: flex;
  flex-direction: column;
  margin-left: 20px ;



}
.activityText > h4{
padding: 0;
margin: 0;
font-weight: initial;
color: grey


}

.UserDesc > h4:first-child{

color: rgb(122, 111, 193);
}
.date{
  margin: 10px 0 0 auto;

}

.membersDiv h2{
font-size: 20px;
margin-bottom: 50px;
margin-top: 20px;

}

.first{
  max-height: 250px;
  margin-bottom: 50px;
}



/* The switch - the box around the slider */
.switch {
 position: relative;
 width: 60px;
 height: 34px;
 margin-left: -60px;
float:right;
   margin-right: 20%;


}
label{
  z-index: 9;
  cursor: pointer;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 60px;
 height: 34px;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #2196F3;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}


label{

  width: 60%;
  margin-left: 5vw;
  margin-bottom: 10px;
}

.buttonDiv{
  align-items: center;
  display: flex;

}
.secondButton{
margin-bottom: 30px;

}



select{
 margin-left: 5vw;
  width: 91%;

}

.saveCancel{
  display: flex;
  margin: 31px 2vw;
  justify-content: space-around;
  margin-bottom: 80px;
}


.save,
.cancel{
width: 45%;
padding: 20px;
border-radius: 12px;
border-style: none;
color: white;
}

.save{
  background-color: rgb(122, 111, 193);


}

.cancel{
  background-color: rgb(177, 177, 177);

}







/* The container must be positioned relative: */
.custom-select {
 position: relative;
 font-family: Arial;
 width: 91%;
 margin: auto;
}

.custom-select select {
 display: none; /*hide original SELECT element: */
}

.select-selected {
 background-color: rgba(211,211,211, 0.2);
 border-radius: 12px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
 position: absolute;
 content: "";
 top: 14px;
 right: 10px;
 width: 0;
 height: 0;
 border: 6px solid transparent;
 border-color: grey transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
 border-color: transparent transparent grey transparent;
 top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
 color: grey;
 padding: 8px 16px;
 border: 1px solid transparent;
 border-color: lightgrey ;
 cursor: pointer;
}

/* Style items (options): */
.select-items {
 position: absolute;
 background-color: lightgrey;
 top: 100%;
 left: 0;
 right: 0;
 z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
 display: none;
}

.select-items div:hover, .same-as-selected {
 background-color: rgba(0, 0, 0, 0.1);
}





.flexSearchTitle{
display: flex;
flex-direction: row;

}

.greyBackg{
  width: 100%;
  background-color: rgba(211,211,211,0.09);
  grid-column-start: 1;
  grid-column-end: 4;

}





.messageUserDiv{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}


#textarea{
  padding: 10px;
  height: 86px;
  width: 100%;
  margin: 20px auto;
  border-radius: 12px;
  border-width:thin;
  border-color: lightgrey;
  background-color: rgba(211,211,211, 0.2);

}

#myInput{
padding-left: 10px;
height: 40px;

  margin: 20px auto;
  border-radius: 12px;
  border-width:thin;
  border-color: lightgrey;
  background-color: rgba(211,211,211, 0.2);
}


.messageUserButton{
  width: 100%;
  padding: 20px;
  border-style: none;
  color: white;
  border-radius: 12px;
  background-color: rgb(122, 111, 193);
  margin-bottom: 80px;
margin-top: 40px;
}



.confirmEmailAlert{
  display: flex;
  margin: 20px 5vw;
  padding: 15px;
  background-color:  rgb(122, 111, 193);
  border-radius: 6px;
  align-items: center;
}
.closebtn{
margin-left: auto;
border: none;
background-color: rgba(0,0,0,0);

}
.closebtn img{

  width: 25px;
  height: 25px;

}


* { box-sizing: border-box; }
body {
 font: 16px Arial;
}
.autocomplete {
 /*the container must be positioned relative:*/
 width: 100%;
 position: relative;
 display: inline-block;
}
input {
 border: 1px solid transparent;
 background-color: #f1f1f1;
 padding: 10px;
 font-size: 16px;
}
input[type=text] {
 background-color: #f1f1f1;
 width: 100%;
}

.autocomplete-items {
 position: absolute;
 border: 1px solid #d4d4d4;
 border-bottom: none;
 border-top: none;
 z-index: 99;
 /*position the autocomplete items to be the same width as the container:*/
 top: 100%;
 left: 0;
 right: 0;
}
.autocomplete-items div {
 padding: 10px;
 cursor: pointer;
 background-color: #fff;
 border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
 /*when hovering an item:*/
 background-color: #e9e9e9;
}
.autocomplete-active {
 /*when navigating through the items using the arrow keys:*/
 background-color: DodgerBlue !important;
 color: #ffffff;
}



.closeButton:hover{
  cursor: pointer;


}

input:hover,
button:hover{
  cursor: pointer;

}

.inputDash:hover{
  cursor: auto;


}




.messageAlertContent{
  display: flex;
  margin: 20px 5vw;
  padding: 15px;
  background-color:  rgb(122, 111, 193);
  border-radius: 6px;
  align-items: center;
}

h3{

  margin-bottom: 0;
}
#bellSvg{
  transition:transform 0.3s ease, opacity;


}

#bellSvg:hover{
opacity:  0.4;
transform: rotate(20deg);


}



.alert{
z-index: 9;

}
